/***************************/
/*      titre animé        */
/***************************/

h1 {
    // background-color: rgb(165, 241, 212);
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    // padding: 0.4em 0;
    position: relative;
    margin: 2rem;
    overflow: hidden;
    border-bottom: 2px solid #85cbd4;
    &:hover {
        .bg {
            animation: monter 500ms forwards;
        }
        .text {
            color: #fff;
        }
    }
    .text {
        position: relative;
        z-index:5;
    }
    .bg {
        display: block;
        width: 110%;
        height: 110%;
        background-color: #85cbd4;
        position: absolute;
        top: 100%;
        left: -5%;
        animation: descendre 500ms forwards;
    }
}

@keyframes monter {
    0% {
        top: 100%;
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(3deg);
    }
    100% {
        top: 0;
    }
}

@keyframes descendre {
    0% {
        top: 0;
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(3deg);
    }
    100% {
        top: 100%;
    }
}

/***************************/
/*        losanges         */
/***************************/

ul {
    list-style: none;
    padding: 0;
    margin: 200px;
}
li {
    width: 200px;
    height: 200px;
    background-color:#fff;
    transform: rotate(45deg);
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: -1.5em;
    &:nth-child(2) {
        top: 10em;
    }
    &:hover {
        img {
            transform: rotate(-45deg) scale(1.1);
            opacity: 1;
        }
    }
    span {
        position: absolute;
        color: #fff;
        transform-origin: 0 0;
        transform: rotate(-45deg) translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    img {
        width: 400px;
        height: 400px;
        opacity: 0.6;
        transform: rotate(-45deg);
        position: absolute;
        top: -100px;
        left: -100px;
        transition: all 0.5s;
    }
}