.div1 {
    height: 200px;
    width: 200px;
    background-color: rgb(48, 199, 179);

    float: left;
}

.div2 {
    height: 350px;
    width: 300px;
    background-color: rgb(127, 55, 168);
    float: left
}

.div3 {
    height: 300px;
    width: 250px;
    background-color: rgb(173, 194, 83);
    float: right;
}

ul {
    background-color: rgb(221, 81, 81);
    /* clear: both; */
    list-style: none;
}

li {
    float: left;
    background-color: yellow;
    padding: 0.5em;
    margin: 0.2em;
}