@mixin clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin bouton($bgc, $border: true, $bc: #666) {
    display: block;
    width: 100px;
    padding: 0.5em 1em;
    background-color: $bgc;
    text-decoration: none;
    border-radius: 6px;
    box-shadow: 5px 5px 1px rgba(darken($bgc, 20%), 0.5);
    @if $border {
        border: 1px solid $bc;
    }
}