@import 'variables';
@import 'mixins';
@import 'susy';

body {
    background-color: rgb(255, 225, 225);
}

section {
    // width: $container;
    background-color: red;
    @include clearfix;
    // &:after {
    //     content: '';
    //     display: block;
    //     clear: both;
    // }
}
div {
    float: left;
}
.bloc1 {
    background-color: $couleur-principale;
    width: $largeur;
    h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    a {
        // text-decoration: none;
        // color: rgb(204, 28, 166);
        @include bouton(#4ee2a9, false);
        // &:hover {
        //     color: rgb(90, 192, 86);
        // }
        // .de & {
        //     background-color: #fff;
        // }
    }
    @include breakpoint(screen, $bp-tablet) {

    }
}

.bloc2 {
    // width: $largeur/2;
    width: $sidebar;
    background-color: $couleur-principale;
    a {
        @include bouton($bgc: #dff78a, $bc: blue);
    }
    @include breakpoint(screen, $bp-tablet) {
        background-color: green;
    }
}



.colonnes {
    background-color: rgb(95, 88, 155);
    @include container(59em); // donne un max-width: 60em + centrer la box + clearfix

    > div {
        background-color: yellow;
        @include span(4 of 12);
        // @include span(1 of 3);
        &:last-child {
            @include last;
            // @include span(4 of 12 last);
        }
    }
}

.galerie { // le contenant
    @include container;
    .items { // les éléments
        @include gallery(3 of 12); // 3 of 12 = 4 colonnes
        background-color: pink;
        margin-bottom: gutter(12); //margin-bottom égale à la gouttière générée dans un layout de 12 colonnes
    }
}
